html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

html {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    background-color: #1E1E2E;
    color: #EDEDED;
}

#main {
    display: flex;
    flex-direction: row;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
}

#form {
    min-width: 50%;
}

#result {
    display: flex;
    flex-direction: column;
    min-width: 50%;
    gap: 10px;
}

#resultContents {
    padding: 30px;
    white-space: pre-wrap;
}

textarea {
  resize: none;
  overflow: hidden;
}

input, textarea {
  background-color: #2B2B3C;
  color: #EDEDED;
  border: 1px solid #3B3B4F;
}

input::placeholder,
textarea::placeholder {
  color: #A5A5B8;
}

button {
    background-color: #7AA2F7;
    color: #1E1E2E;
    border: none;
    border-radius: 8px;
    max-width: 50%;
    margin-left: 25%;
    padding: 10px;
    border-radius: 10px;
    font-weight: 800;
    cursor: pointer;
}

button:hover {
  background-color: #89B4FA;
}

hr {
  border: none;
  height: 2px;
  width: 50%;
  background-color: #EDEDED; /* matches your border tone */
  margin: 30px 25%;
}
